<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post_content">Blog Post</label>
            <textarea type="text" id="post_content" name="post_content"></textarea>
        </div>
            <button type="submit" class="btn create-post">Submit</button>
    </form>
</section>

<script src="/javascript/create-post.js"></script>